body{
    background-image: url(../images/papyrus.png);
}

.containerBody{
    background-color:#ffffff;
    margin:40px;
}
.navbar {
 min-height: 60px;
 border: 2px solid #cccccc;
}
.navbar-brand{
    font-size: 30px;
    color:#ffffff !important;
    background: #44aaaa;
    position: absolute;
    margin-left: 120px;
}
.navbar-nav{
    position: fixed;
    right: 120px;
}
.nav-link, .nav-item{
        border: none;
		text-align: center !important;
		text-decoration: none;
		cursor: pointer;
        color: #777777 !important;
}
h2{
    font-size: 28px;
    color: #4aaaa5;
    border-bottom: 2px solid #cccccc;
}
html {
    position: relative;
    min-height: 100%;
  }
  body {
    margin-bottom: 60px; /* Margin bottom by footer height */
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #666666;
    border-top:4px solid #4aaaa5;
    text-align: center;
    font-size: 8px;
  }
  .text-muted {
      color: white !important;
      
  }
  .center-block{
    position: absolute;
    bottom: 20px;
    left: 15px;
    width: 175px;
    font-size: 16px;
    color:#ffffff !important;
    background: #4aaaa5 !important; 
    text-align: center;  
  }
  .btn-primary{
      background-color: #4aaaa5;
  }